#root {
  padding: 2rem;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #181818;
  width: 100%;
  font-size: 25px;
  z-index: 1;
}
header span b {
  margin-inline: 10px;
}
input {
  height: 35px;
  font-size: large;
  padding: 3px;
  width: 150px;
  text-align: center;
}

fieldset {
  color: gray;
  border-color: gray;
  text-align: start;
}

.correct {
  color: green;
}
.fieldsetCorrect {
  color: green;
  border-color: green;
}

.sortandfilter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sortandfilter input,
select {
  width: 200px;
}
select {
  font-size: large;
  height: 35px;
}
@media (max-width: 750px) {
  .table {
    display: flex;
    flex-direction: column;
  }
  .correct {
    height: 82.59px;
  }
  header {
    box-sizing: border-box;
    padding: 2px;
  }
  .main {
    margin-top: 70px;
  }
  span {
    font-size: 20px;
  }
  .sortandfilter {
    flex-direction: column;
  }
  .sortandfilter input,
  select {
    width: 100%;
  }
}

@media (max-width: 1270px) {
  .table {
    grid-template-rows: 170px;
  }
  .correct {
    margin: auto;
  }
}
